/* src/pages/Login/css/style.css */
.login-container {
    text-align: center;
    margin-top: 50px;
}

.login-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.login-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}